*{
    margin: 0;
    padding: 0;
}
nav{
    height: 5rem;
    /* width: 100vw; */
    display: flex;
    background-color: orange;
    justify-content: space-between;
    align-items: center;

}
.logodiv{
  border: 2px solid black;
  border-radius: 30%;
  display: flex;
  align-items: center;
  height: 50px;
  
  

}
.list{
    border: 2px solid black;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    /* height: 4rem; */
    width: 40vw;
  
}
.lastdiv{
    border: 2px solid black;
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
}
button{
    border: 1px solid black;
    /* height: 50px;
    width: 50px; */
    /* padding: 5px; */
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    /* margin-top: 10%; */
    cursor: pointer;
   
    
}
.listdiv{
    display: flex;
    align-items: center;
    
}
